NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/clothing-store
SESSION_SECRET=replace_with_a_long_random_string
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD_HASH=$2a$10$V2gs6jkfVPGaL6kXz7K3beI8UYn7nA5f1uhVSfN.2Pkr3n5f9Ex0u
